@import url(https://fonts.googleapis.com/css?family=Inter);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
    font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
	color:#212529;;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset css */

body{ 
	/* background-color:#fff; */
	color:#212529;;
	font-size:14px;
	overflow-x:hidden;
}

p{
	color: #212529;;
	font-family: 'Inter', sans-serif;
	font-size:14px;
	letter-spacing:normal;
	line-height: normal
}
h1{
	color: #212529;;
  font-family: 'Inter', sans-serif;
	font-size:25px;
	letter-spacing:1px;	
	font-weight:700;
}
h4 {
	color: #212529;
    font-family: 'Inter', sans-serif;
	font-size:27px;
	letter-spacing:1px;	
}
p.error-message {
    color: #e70505;
}
/* Navigations */

.mainlogo{
    width: auto;
    height: 50px;
    margin-top: -5px;
}
.nav-signup {
    padding: 7px 37px !important;
    background-color: #0D6EFD;
    border-radius: 0.25rem;
    color: #fff !important;
    margin-left: 10px;
}
a.nav-link{
    font-size: .875rem;
    color: #18113c;
    font-weight: 500;
    padding: 0.3125rem 0.5rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: .5px;
}

.page-login{
padding-bottom: 100px;
}

/*login page*/
/* .page-login{
        background: linear-gradient(68deg, rgb(244 236 241 / 70%), rgb(252 240 247 / 88%)), url(../images/bg2.jpg) !important;
        background-position: center;
        background-size: cover !important;
        object-fit: cover;
} */
.modal-body p {
    margin-bottom: 10px;
}
span.psw a {
    color: #0D6EFD;
}
.register-col {
    padding-top: 50px;
    color: #fff;
}
.register-col h3{
    color: #fff;
	padding-bottom: 20px;
}
button.reg-btn.btn-primary {
    background: #fff;
	color: #0D6EFD;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0.5px;
	font-family: 'Inter', sans-serif;
    padding: 10px 30px;
	width:auto;
	margin: 0px;
}
.signup-div{
	padding-top: 40px;
}
/* .forgot-reg{
	text-align: center;
} */
.signin-heading{
    color: #212529;
	font-size: 20px;
	padding-bottom: 10px;
}
.modal-header h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
	color:#0D6EFD;
}
/* .form-inner-container input[type=text]:focus {
  border: 1px solid #0D6EFD;
} */

#right-content .forgot-reg {
    display: inline-block;
    width: 100%;
}
.content-wrapper {
	width: 100%;
    padding: 90px 0px;
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
/* #login-section{
    background: #fff;
box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 5%);
-webkit-box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 5%);
-moz-box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 5%);
border-radius:30px;
} */
span.psw {
  padding-top: 15px;
}

/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:50px;
  font-family: 'Inter', sans-serif;
} */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    border-top: 0px solid #212529;
    border-bottom: 1px solid #b7bbbf;
    border-right: none;
    border-left: none;
}
textarea:focus, input:focus{
    outline: none !important;
}
*:focus {
    outline: none;
}
input:-internal-autofill-selected {
    background-color:none !important;
}
button {
  letter-spacing: 1px;
  background:#0D6EFD;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:50px;
  text-transform:uppercase;
  font-family: 'Inter', sans-serif;
}

button:hover {
  background-color: #0D6EFD;
}
.heading-highlight{
    color: #0D6EFD;;
}
#icon-toga{
	width: 100px;
	height: auto;
}
/*
div#left-content {
     text-align: center; */
/* background: rgb(0,129,180);
background: linear-gradient(50deg, rgba(0,129,180,1) 0%, rgba(0,129,201,1) 100%); */
/* border-radius: 0px 10px 0px 10px; */
/*}*/
div#left-content p{
	color:#252931;
}
div#left-content h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700!important;
    font-size: 40px!important;
    line-height: 1.2em;
    color: #212529;
    padding-bottom: 30px;
    
}
#left-content {
	padding:0px 50px 0px 0px;
	/* height: 425px; */
}
.banner-img{
width: auto;
height: 250px;
}
.mainform-login{
    padding:40px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius:30px;
}
.mainform-login:hover{
    box-shadow: 0px 8px 24px 0 rgb(29 140 242 / 32%);
    cursor: pointer;
    }

/* #right-content{
	padding:40px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius:30px;
}
#right-content:hover{
box-shadow: 0px 8px 24px 0 rgb(29 140 242 / 32%);
} */
#left-content h1{
	position:relative;
}
#left-content h3{
    font-size: 16px;
    line-height: 1.6;
    color: #212529;

}

/* footer */
.footer-links {
    padding: 0px 20px;
}
.footer-links h3{
    font-size: 17px;
    padding: 2px;
    text-decoration: none;
    color: #212529;
    padding-bottom: 10px;
    font-weight: 600;
}
footer a {
    font-size: 14px;
    padding: 2px;
    text-decoration: none;
    color: #212529;
    padding-bottom: 10px;
}
footer p{
    font-size: 14px !important;
    line-height: 1.6 !important;
    color: #212529 !important;
}
.social-logos-footer a {
    font-size: 20px;
    padding: 2px;
    text-decoration: none;
    color: #212529;
}
.footer-sec {
    padding: 50px 0px;
    border-top: 1px solid #b7bbbfad;
}
.copyrights{
    border-top: 1px solid #b7bbbfad;
    text-align: center;
    padding: 20px 0px;
    font-size: 15px !important;
}
.footer-logo-col {
    padding-right: 30px;
}

/*student registration*/
.p-terms{
    text-align: center;
}
.stud-main-wrapper {
    background-image: url(../images/stud-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.stud-main-wrapper h1{
  text-transform:uppercase;
  font-family: 'Inter', sans-serif;
  line-height: 1.3em;
font-size:35px;  
text-align:center;
margin-bottom:20px;
}
.stud-main-wrapper #student-reg-section {
    background: #fff;
    padding: 40px;
	width:600px;
	margin:0px auto;
box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.27);
-webkit-box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.27);
-moz-box-shadow: 1px 1px 33px -6px rgba(0,0,0,0.27);
}





/*media query*/

@media screen and (max-width:1280px){

}
@media screen and (max-width:1024px){

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 768px) {
    .content-wrapper {
        padding: 20px 0px;
        width: auto !important;
    }
    .banner-img {
        height: 130px;
    }
    .teacher-div {
        text-align: center;
    }
    div#left-content h1 {
        text-align: center;
        font-size: 30px!important;
    }
    div#left-content {
        text-align: center;
    }
    div#right-content {
        padding: 0px 30px;
    }
    .footer-logo-col {
        text-align: center;
    }
    .footer-logo-col {
        text-align: center;
        padding-bottom: 30px;
    padding-right: 0px;
    }
    .footer-links {
        text-align: center;
    }
    .footer-links {
        text-align: center;
        padding: 20px 0px;
    }
    .main-wrapper.page-login {
        margin: 0px;
        overflow-x: hidden;
    }
    .mainform-login {
        text-align: center;
    }
    #left-content {
        padding: 30px;
    }
    /* nav in mobile */
    .navbar-toggler{
        width: auto !important;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
    .navbar-toggler:hover {
            background-color: #0d6efd00 !important;
    }
    .navbar-toggler{
    border: none !important;
    }
    .nav-signup {
        margin: 0px auto;
        width: 160px;
    }
    .navbar-nav {
        padding: 30px 0px;
        text-align: center;
        background-color: #f2f2f2;
    border-radius: 10px;
    width: 80%;
    margin: 0px auto;
    }
    a.nav-link {
        font-size: 15px;
        font-weight: 600;
    }
    /* nav in mobile */

}

@media screen and (max-width: 680px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 450px) {

}
@media screen and (max-width: 414px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}